@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800i&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif, 'Times New Roman', Times, serif;

}

.logo {
    font-weight: 700;
    font-size: 1.5em;
}

p,
blockquote {
    font-size: .9em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-container {
    padding: .8em 1.2em;
    background: white;
    z-index: 999;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.container {
    text-align: center;

}

.logo {
    width: 130px;
    height: auto;
}

header {

    display: flex;
    justify-content: space-between;
}

.hide-mobile {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu {
    width: 25px;
    margin-top: 1.5vw;
}

.grid-container {
    width: 80%;
    margin: auto;
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    text-transform: uppercase;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
}

.navbar-container {
    background: transparent;
}

.section-1 {
    background: url('/assets/images/mountains_landscape_minimal_4k.svg');
    background-size: cover;
    z-index: 1;
}

.jumbo {
    padding: 25vw 0vw;
    color: black;
}

.jumbo>h1 {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 700
}

.jumbo>p {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
}

.download-btn {
    background: linear-gradient(259.98deg, #02CAF7 0%, #AB1DE3 111.15%);
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    padding: 1em;
    margin: 4vw 8vw;
    border-radius: 129px;
}

.section-2 {
    padding: 5vw;
    color: white;
    background: #3C30C3;
}

.intro {
    margin-bottom: 5vw;
}

.grid-contents {
    background: white;
    border-radius: 10px;
    padding: 4vw;
    margin: 2vw 0px;
    border: 1px solid rgba(0, 0, 0, 0.49);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    color: black;
    font-weight: 600;
}

.grid-contents>img {
    padding: 2vw;
    width: 30vw;
    height: auto;
}

.section-3 {
    padding: 5vw;
    color: white;
    background: rgb(0,150,136);
}
.review
{
    font-family: sans-serif;
    font-style: italic;
    font-weight: 100;
}
.review-author
{
    padding-top: 20px;
    text-align: right;
}
.section-4
{
    padding: 5vw;
    color: black;
    background-color: aliceblue;
}
footer
{
    padding: 4vw;
    background-color:rgb(70,70,70);
    

}
.authority{
    text-align: center;
}

footer > .grid-container > .grid-contents
{
    color:rgb(214,214,214) !important;
    border: none;
    box-shadow: none;
    background: transparent;
    padding-left: 10px;
    font-weight:400; 
    text-align: left;
}
.list li
{
    list-style-type:disc;
    padding: .5vw 0; 

    
}
.list li a
{
    /*padding: .5vw 0; */
    height: 49px;
}
.list li:hover
{
   
    text-decoration: underline;
}
nav ul{
    position: fixed;
    right: 0;
    width: 60%;
    top: 0;
    text-align: left;
    background: rgb(23, 25, 27);
    height: 100%;
    padding-top: 2em;
}
nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1em 2em;
    background: rgba(49, 55, 59);

}
nav ul li a:hover
{
    color: black;
    background-color: white;
}

.exit-btn{
    margin-bottom: 1em;
    margin-top: -1.3em;
    text-align: right;
    padding: 0 1.4em;

}
.exit-btn img{
    width: 15px;
    cursor: pointer;
}
.copyright{
    padding: 1em;
    background: #0d0d0d;
    color:#d6d6d6;
}


@media only screen and (min-width:760px)
{
    .section-2
    {
        padding: 4vw 2vw;
    }
    .grid-container
    {
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
    .grid-contents{
        width:25% ;
        padding:2vw;
        margin: 0 1vw;
    }
    .grid-contents img
    {
        padding: 1vw;
        height: auto;
        width: 8vw;
    }
    footer
    {
        padding: 2vw;
    }
    .jumbo
    {
        padding: 15vw 0;
        width: 40%;
    }
    .jumbo h1{
        font-size: 4em;
    }
    .download-btn
    {
        margin: 1vw 5vw;
    }
    footer  .grid-contents img
    {
        padding: 0;
    }
    .authority{
        text-align: right;
    }
    .show-desktop
    {
        display: block;
    }
    .hide-desktop
    {
        display: none;
    }
    nav ul {
        position: inherit;
        padding-top: 0;
        width: auto;
        background: none;
        height: auto;
        display: flex;
    }
    nav ul li
    {
        float: left;

    }
    nav ul li a
    {
        background-color: transparent;
        color: black;
        text-align: right;
        padding: 1em 2em;
    }
    nav ul li a:hover
    {
        background: rgb(25, 25, 25);
        color: white;
        border-bottom:#AB1DE3 4px solid;; 
    }
    .logo
    {
        padding: 0.55em 1.2em;
    }
    .navbar-container
    {
        padding: 0;
    }
    .menu
    {
        display: none;
    }
    .login 
    {
        margin: auto;
        border: 3px solid #207053;
        border-radius: 58px;
        padding: 0.4em 2em;
        margin: 0.3em .5em;
    }
    .login:hover{
        border: 0px;
        border-radius: 0px;
        background: #207053;
        text-transform: uppercase;
        color: white;
        border-bottom:#000000 4px solid;;
        margin: 0;
        padding: 1em 2.3em;
    }

}